{
  "openapi": "3.0.3",
  "info": {
    "title": "ALTR Management API",
    "version": "12.25.1",
    "description": "Welcome to the Swagger documentation for ALTR's Management API (MAPI). MAPI allows ALTR customers to configure data sources and governance policy within the ALTR platform and is used to power ALTR's own UI. ALTR Enterprise customers are able to use MAPI to automate the configuration of data sources and governance policy.\n\nMAPI does not include the endpoints for ALTR's tokenization API; documentation on ALTR's tokenization API can be found [here](https://docs.altr.com/reference).\n\nMAPI uses [HTTP Basic Authentication](https://swagger.io/docs/specification/authentication/basic-authentication/). MAPI credentials can be obtained on the [API page](https://altrnet.live.altr.com/settings/preferences/api) (found under Settings > Preferences > API) of ALTR's portal for Enterprise and Enterprise + customers. Usernames are the 'Key Names' listed on that page, and Passwords are the 'Key Secret' provided when an API key is created.",
    "termsOfService": "https://www.altr.com/info/altr-solutions-inc-terms-of-service",
    "contact": {
      "name": "Support",
      "email": "support@altr.com"
    }
  },
  "servers": [
    {
      "url": "https://altrnet.live.altr.com/api",
      "description": "ALTR Management API"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "externalDocs": {
    "description": "ALTR Documentation",
    "url": "https://docs.altr.com/"
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "MAPI uses [HTTP Basic Authentication](https://swagger.io/docs/specification/authentication/basic-authentication/).<br/><br/>MAPI credentials can be obtained on the [API page](https://altrnet.live.altr.com/settings/preferences/api) (found under Settings > Preferences > API) of ALTR's portal for Enterprise and Enterprise+ customers.<br/><br/>Usernames are the 'Key Names' listed on that page, and Passwords are the 'Key Secret' provided when an API key is created."
      }
    },
    "parameters": {
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 50,
          "default": 50
        }
      },
      "orderBy": {
        "name": "orderBy",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "asc"
        }
      },
      "idPath": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 9007199254740991
        }
      },
      "fieldId": {
        "name": "fieldId",
        "required": true,
        "in": "path",
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "The ID that corresponds to govern, protected, tokenized, or fpe column."
      },
      "webauthnCredentialId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Internal numeric ID of the registered WebAuthn credential.",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "example": 1
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "data": {
                "message": "Not Found",
                "statusCode": 404,
                "date": "2022-07-20T18:00:58.723Z"
              },
              "success": false
            }
          }
        }
      },
      "Gone": {
        "description": "The endpoint has been removed and is no longer available.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "data": {
                "message": "The requested endpoint has been removed and is no longer available.",
                "statusCode": 410,
                "date": "2022-07-20T18:00:58.723Z"
              },
              "success": false
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "examples": {
              "default": {
                "value": {
                  "data": {
                    "message": "'id' must be present",
                    "statusCode": 400,
                    "date": "2022-07-20T18:00:58.723Z"
                  },
                  "success": false
                }
              },
              "with context property": {
                "value": {
                  "data": {
                    "message": "Invalid credentials.",
                    "statusCode": 400,
                    "context": {
                      "error_code": 60000,
                      "title": "DB_CONNECTION"
                    },
                    "date": "2022-07-20T18:00:58.723Z"
                  },
                  "success": false
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "data": {
                "message": "Resource is forbidden",
                "statusCode": 403,
                "date": "2022-07-20T18:00:58.723Z"
              },
              "success": false
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "data": {
                "message": "Unauthorized",
                "statusCode": 401,
                "date": "2022-07-20T18:00:58.723Z"
              },
              "success": false
            }
          }
        }
      },
      "Unprocessed": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "data": {
                "message": "Unprocessable Entity",
                "statusCode": 422,
                "date": "2022-07-20T18:00:58.723Z"
              },
              "success": false
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Wait and try your request again in the future.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "data": {
                "message": "Too Many Requests",
                "statusCode": 429,
                "date": "2022-07-20T18:00:58.723Z"
              },
              "success": false
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "data": {
                "message": "Internal Server Error",
                "statusCode": 500,
                "date": "2022-07-20T18:00:58.723Z"
              },
              "success": false
            }
          }
        }
      },
      "OkResponse": {
        "description": "Indicates that the process was successful in being retrieved/sent. Does not necessarily mean that it will complete.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        }
      },
      "Administrator": {
        "description": "Response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Administrator"
                },
                "success": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "Administrators": {
        "description": "Response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "administrators": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Administrator"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                },
                "success": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "UpdatedAdministrator": {
        "description": "Response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Administrator"
                },
                "success": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "ApiKeys": {
        "description": "Response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                },
                "success": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Internal Server Error"
              },
              "statusCode": {
                "type": "integer",
                "example": 500
              },
              "context": {
                "type": "object",
                "example": {},
                "description": "An object with properties that may **optionally** appear, will contain more information relating to the error message."
              },
              "date": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Administrator": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 100
          },
          "firstName": {
            "type": "string",
            "example": "George"
          },
          "lastName": {
            "type": "string",
            "example": "Washington"
          },
          "name": {
            "type": "string",
            "description": "Combination of `lastName, firstName`",
            "example": "Washington, George"
          },
          "email": {
            "type": "string",
            "example": "George@altr.com"
          },
          "phone": {
            "type": "integer",
            "example": 1115555555
          },
          "phoneNumber": {
            "type": "string",
            "description": "Combination of country code and phone",
            "example": "+11115555555"
          },
          "activityTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "userStatus": {
            "type": "string",
            "enum": [
              "pending",
              "active",
              "disabled"
            ],
            "example": "active"
          },
          "role": {
            "type": "string",
            "enum": [
              "ADMINISTRATOR",
              "SUPERADMINISTRATOR"
            ],
            "example": "SUPERADMINISTRATOR"
          },
          "countryCode": {
            "type": "integer",
            "example": 1
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "1732-02-22T20:00:37.000Z"
          },
          "isLocked": {
            "type": "boolean",
            "description": "Whether the administrator is locked out of their account or not.",
            "example": false
          },
          "username": {
            "type": "string",
            "example": "George3"
          }
        }
      },
      "UpdateAdministrator": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Administrator"
          },
          {
            "type": "object",
            "properties": {
              "updatedAt": {
                "type": "string",
                "format": "date",
                "example": "2020-07-10T20:00:37.000Z"
              }
            }
          }
        ]
      },
      "BaseAnomaly": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The ID of the anomaly being requested",
            "example": 1
          },
          "machineId": {
            "type": "integer",
            "description": "The ID of the machine used to make the query that caused the anomaly (must appear with userId, will never appear with serverId).",
            "example": 8
          },
          "userId": {
            "type": "integer",
            "description": "The ID of the user who made the query that caused the anomaly (must appear with machineId, will never appear with serverId)",
            "example": 2
          },
          "serverId": {
            "type": "integer",
            "description": "The ID of the application who executed the query that caused the anomaly (will never appear with serverId or machineId)",
            "example": 7
          },
          "thresholdId": {
            "type": "integer",
            "description": "The ID of the threshold that triggered the anomaly (preserved if threshold is deleted)",
            "example": 5,
            "nullable": true
          },
          "thresholdName": {
            "type": "string",
            "description": "The name of the threshold that triggered the anomaly (preserved if threshold is deleted), if this is a UAP (Unified Access Policy) anomaly it is the name of the policy",
            "example": "Threshold Name Here"
          },
          "archived": {
            "description": "Either false OR the date-time the anomaly was closed",
            "type": "string",
            "format": "date-time"
          },
          "dt": {
            "type": "string",
            "format": "date-time",
            "description": "The date-time from when the anomaly was generated"
          },
          "timeWindowStart": {
            "description": "Either null OR the date-time the anomaly was calculated to have been started (earliest point transactions contributed to the anomaly)",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ruleId": {
            "description": "If this is a UAP (Unified Access Policy) anomaly then this points to the UAP rule that triggered it.",
            "type": "string",
            "nullable": true
          }
        }
      },
      "Anomalies": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAnomaly"
          },
          {
            "type": "object",
            "properties": {
              "user": {
                "description": "If the actor was a user, its information will appear here.",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "The ID of the user who executed the queries that caused the anomaly",
                    "example": 2
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The first name of the user who executed the queries that caused the anomaly (may be a query tag instead)",
                    "example": "ALTR_USER"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The last name of the user who executed the queries that caused the anomaly (may be null instead)",
                    "example": "ALTR_USER"
                  },
                  "accessStatus": {
                    "type": "integer",
                    "enum": [
                      0,
                      1,
                      2
                    ],
                    "description": "The current access status of the application (0 = normal, 1 = quicksanded, 2 = blocked)",
                    "example": 0
                  }
                }
              },
              "application": {
                "description": "If the actor was an application, its information will appear here",
                "type": "object",
                "properties": {
                  "serverId": {
                    "type": "integer",
                    "description": "The ID of the application who executed the queries that caused the anomaly",
                    "example": 7
                  },
                  "serverFriendlyName": {
                    "type": "string",
                    "description": "The display name of the application who executed the queries that caused the anomaly",
                    "example": "Application Created Via Swagger"
                  },
                  "accessStatus": {
                    "type": "integer",
                    "enum": [
                      0,
                      1,
                      2
                    ],
                    "description": "The current access status of the application (0 = normal, 1 = quicksanded, 2 = blocked)",
                    "example": 0
                  }
                }
              },
              "device": {
                "description": "This will be along side the user property if it's present. This will not present if application is the machine.",
                "type": "object",
                "properties": {
                  "machineId": {
                    "type": "integer",
                    "description": "The ID of the application who executed the queries that caused the anomaly",
                    "example": 8
                  },
                  "machineName": {
                    "type": "string",
                    "description": "The name of the device who executed the queries that caused the anomaly",
                    "example": "DEFAULT_DEVICE"
                  },
                  "accessStatus": {
                    "type": "integer",
                    "enum": [
                      0,
                      1,
                      2
                    ],
                    "description": "The current access status of the application (0 = normal, 1 = quicksanded, 2 = blocked)",
                    "example": 0
                  }
                }
              }
            }
          }
        ]
      },
      "Anomaly": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Anomalies"
          },
          {
            "type": "object",
            "properties": {
              "notes": {
                "description": "An array of notes that have been posted to this anomaly",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The ID of the note"
                    },
                    "typeId": {
                      "type": "integer",
                      "description": "The ID of the anomaly this note was posted to"
                    },
                    "userId": {
                      "type": "integer",
                      "description": "The ID of the administrator who added this note"
                    },
                    "dt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date-time from the moment this note was added"
                    },
                    "note": {
                      "type": "string",
                      "description": "The actual text of this note",
                      "example": "This anomaly was closed due to being a false positive."
                    },
                    "user": {
                      "$ref": "#/components/schemas/Administrator"
                    }
                  }
                }
              },
              "threshold": {
                "$ref": "#/components/schemas/FullThreshold"
              },
              "transactions": {
                "description": "An array of objects that describe what data has been accessed in this anomaly",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "columnName": {
                      "type": "string",
                      "description": "The name of a column requested by the actor during this anomaly"
                    },
                    "records": {
                      "type": "integer",
                      "description": "The number of times this column was queried during this anomaly"
                    },
                    "dt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date-time from the most recent time this column was queried"
                    },
                    "ip": {
                      "oneOf": [
                        {
                          "type": "string",
                          "format": "ipv4"
                        },
                        {
                          "type": "string",
                          "format": "ipv6"
                        }
                      ],
                      "description": "The IP address the actor executed the most recent query from"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "orgId": {
            "type": "string",
            "example": "969276ae-9118-11ed-a1eb-0242ac120002"
          },
          "apiKey": {
            "type": "string",
            "example": "ALTR-C41A886326C405A5C6F14C225B3B7A8D49E6BDA1"
          },
          "description": {
            "type": "string",
            "example": "George Washington's API Key"
          },
          "userId": {
            "type": "integer",
            "example": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ],
            "example": "ENABLED"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiKeyWithUser": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "properties": {
              "user": {
                "$ref": "#/components/schemas/Administrator"
              }
            }
          }
        ]
      },
      "ApiKeyWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKeyWithUser"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "example": "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
              }
            }
          }
        ]
      },
      "Application": {
        "type": "object",
        "properties": {
          "serverId": {
            "type": "integer",
            "example": 1
          },
          "serverFriendlyName": {
            "type": "string",
            "example": "Snowflake Cloud Integration"
          },
          "os": {
            "type": "string",
            "example": "linux"
          },
          "description": {
            "type": "string",
            "example": "Managed by ALTR. Do not modify or remove."
          },
          "serverStatus": {
            "type": "string",
            "example": "active"
          },
          "uiStatus": {
            "type": "string",
            "example": "Registered",
            "description": "This is used by the ALTRNet UI to display what the status of the application is. Just a different term/name for the application."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "accessStatus": {
            "type": "integer",
            "example": 0
          },
          "clientId": {
            "type": "string",
            "example": "969276ae-9118-11ed-a1eb-0242ac1200020"
          },
          "IP": {
            "type": "string",
            "example": "192.168.0.0,192.168.1.1",
            "description": "This contains, in a string format, all the IPs associated to this application."
          },
          "serverAddress": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "192.168.0.1",
              "192.168.1.1"
            ],
            "description": "This contains, in an array format, all the IPs associated to this application."
          },
          "onQuerySettings": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 1,
                "description": "The unique identifier for the onQuery settings"
              },
              "serverId": {
                "type": "integer",
                "example": 1,
                "description": "The unique identifier of the application in which the onQuery settings belong too"
              },
              "enabled": {
                "type": "boolean",
                "example": false
              },
              "analysisUrl": {
                "type": "string",
                "example": "https://altr.com"
              },
              "defaultAction": {
                "type": "string",
                "enum": [
                  "DENY",
                  "ALLOW"
                ],
                "example": "ALLOW"
              },
              "scrubQuery": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      },
      "Applications": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Application"
          },
          {
            "type": "object",
            "properties": {
              "clientId_bin": {
                "type": "object",
                "description": "This is the binary definition of the clientId"
              },
              "connectionCountLimit": {
                "type": "integer",
                "example": 1
              },
              "disabled": {
                "type": "boolean",
                "example": false
              }
            }
          }
        ]
      },
      "BaseDataModel": {
        "type": "object",
        "description": "Base Data Model Representation",
        "properties": {
          "fieldId": {
            "type": "number",
            "example": 1
          },
          "nickname": {
            "type": "string",
            "example": "column_nickname"
          },
          "pct": {
            "type": "integer",
            "example": 100
          },
          "databaseId": {
            "type": "string",
            "example": 1
          },
          "groupId": {
            "type": "string",
            "example": null,
            "nullable": true
          },
          "databaseHelperId": {
            "type": "string"
          },
          "databaseType": {
            "type": "string",
            "enum": [
              "sqlserver",
              "mysql",
              "redshift",
              "snowflake_external_functions"
            ],
            "description": "The type of database this column belongs too"
          },
          "jobId": {
            "type": "string",
            "example": null,
            "nullable": true
          },
          "columnName": {
            "type": "string",
            "example": "email"
          },
          "friendlyDatabaseName": {
            "type": "string",
            "example": "Washington's Database 1"
          },
          "tableName": {
            "type": "string",
            "example": "employees"
          },
          "tableId": {
            "type": "integer",
            "example": 1
          },
          "scatterStatus": {
            "type": "string",
            "enum": [
              "unscattered",
              "unscatter_pending",
              "unscatter_error",
              "tokenized",
              "tokenize_pending",
              "tokenize_error",
              "fpe",
              "fpe_pending",
              "fpe_error",
              "scattered",
              "scatter_pending",
              "scatter_error",
              "remove_pending",
              "remove_error"
            ],
            "example": "unscattered"
          },
          "isParent": {
            "type": "boolean"
          },
          "isView": {
            "type": "boolean",
            "description": "whether or not this column is a view or not."
          },
          "alphabet": {
            "type": "string",
            "enum": [
              "alphabetic",
              "numeric",
              "alphanumeric",
              "fpe"
            ],
            "description": "The name of the set of characters that will be decrypted in the ciphertext (e.g. alphabetic, numeric, alphanumeric). When scatterStatus is fpe, this field is present."
          },
          "keyName": {
            "type": "string",
            "description": "The name of the key that will be used to decrypt the data. When scatterStatus is fpe, this field is present."
          },
          "tweakName": {
            "type": "string",
            "description": "The name of the tweak that will be used to decrypt the data. When scatterStatus is fpe, this field is present."
          },
          "isPadded": {
            "type": "boolean",
            "description": "Whether or not padding was applied on encryption of the data."
          }
        }
      },
      "DataModel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseDataModel"
          },
          {
            "type": "object",
            "properties": {
              "implementation": {
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3
                ],
                "nullable": true,
                "description": "An optional field indicating the way governance on the column was implemented. This only applies to Snowflake CI; this value can also be `null`:\n* `1` - masking policy was created\n* `2` - database does not support masking policies\n* `3` - the column already has a masking policy applied to it.\n"
              },
              "CDMServiceEnabled": {
                "type": "boolean"
              },
              "databaseName": {
                "type": "string",
                "description": "The resolvable name of the connected database.",
                "example": "MainStore"
              }
            }
          }
        ]
      },
      "DataLinkedColumns": {
        "type": "object",
        "properties": {
          "linkedColumns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "size": {
                  "type": "integer",
                  "example": 0,
                  "description": "Column length"
                },
                "canMonitor": {
                  "type": "boolean"
                },
                "canTokenized": {
                  "type": "boolean"
                },
                "canScatter": {
                  "type": "boolean"
                },
                "nullableType": {
                  "type": "integer",
                  "description": "0 if non null, 1 if null",
                  "enum": [
                    0,
                    1
                  ],
                  "example": 1
                },
                "name": {
                  "type": "string",
                  "example": "EMAIL"
                },
                "isAltred": {
                  "type": "boolean",
                  "example": false
                },
                "isMonitored": {
                  "type": "boolean"
                },
                "isTokenized": {
                  "type": "boolean"
                },
                "type": {
                  "type": "string",
                  "example": "DATE"
                },
                "tableName": {
                  "type": "string",
                  "example": "EMPLOYEES"
                }
              }
            },
            "example": [],
            "description": "This is continue to return any DataLinkedColumns linked columns until there aren't anymore."
          },
          "size": {
            "type": "integer",
            "example": 0,
            "description": "Column length"
          },
          "canMonitor": {
            "type": "boolean"
          },
          "canTokenize": {
            "type": "boolean"
          },
          "canScatter": {
            "type": "boolean"
          },
          "nullableType": {
            "type": "integer",
            "description": "0 if non null, 1 if null",
            "enum": [
              0,
              1
            ],
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "EMAIL"
          },
          "isAltred": {
            "type": "boolean",
            "example": false
          },
          "isMonitored": {
            "type": "boolean"
          },
          "isTokenized": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "example": "DATE"
          },
          "tableName": {
            "type": "string",
            "example": "EMPLOYEES"
          }
        }
      },
      "DataMetadata": {
        "type": "object",
        "properties": {
          "linkedColumns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataLinkedColumns"
            }
          },
          "isAltred": {
            "type": "boolean"
          },
          "isView": {
            "type": "boolean",
            "example": false
          },
          "type": {
            "type": "string",
            "example": "DATE"
          },
          "uuid": {
            "type": "string",
            "example": "bb4dc5c9-4305-523d-8b28-4e6fa8e4cb6a"
          },
          "tableName": {
            "type": "string",
            "example": "EMPLOYEE"
          },
          "schemaName": {
            "type": "string",
            "example": "PUBLIC",
            "description": "Only available if the column is in a view"
          },
          "viewName": {
            "type": "string",
            "example": "MY_VIEW",
            "description": "Only available if the column is in a view"
          },
          "size": {
            "type": "integer",
            "example": 0
          },
          "canMonitor": {
            "type": "boolean"
          },
          "canTokenize": {
            "type": "boolean"
          },
          "canScatter": {
            "type": "boolean"
          },
          "nullableType": {
            "type": "integer",
            "description": "0 if non null, 1 if null",
            "enum": [
              0,
              1
            ],
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "EMAIL"
          },
          "isMonitored": {
            "type": "boolean"
          },
          "isTokenized": {
            "type": "boolean"
          },
          "metrics_emit_total": {
            "type": "integer",
            "example": 111
          },
          "metrics_emit_received_at": {
            "type": "integer",
            "example": 1673294738721
          },
          "metrics_emit_queued": {
            "type": "integer",
            "example": 0
          },
          "metrics_emit_processed": {
            "type": "integer",
            "example": 111
          }
        }
      },
      "Database": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of a database",
            "example": 1
          },
          "friendlyDatabaseName": {
            "type": "string",
            "description": "The display name of a database",
            "example": "George Washington's Database"
          },
          "maxNumberOfConnections": {
            "type": "integer",
            "description": "The maximum number of concurrent connections the CDM client will open to a database",
            "example": 5
          },
          "maxNumberOfBatches": {
            "type": "integer",
            "description": "The maximum number of concurrent open batches the CDM client will execute against a database",
            "example": 15
          },
          "databasePort": {
            "type": "integer",
            "description": "The port number the CDM client will use to connect to a database",
            "example": 443
          },
          "databaseUsername": {
            "type": "string",
            "description": "The username the CDM client will use to connect to a database",
            "example": "ROOT"
          },
          "databaseType": {
            "type": "string",
            "description": "The database type the CDM client expects a database to be",
            "enum": [
              "sqlserver",
              "mysql",
              "redshift",
              "snowflake_external_functions",
              "databricks"
            ],
            "example": "snowflake_external_functions"
          },
          "databaseName": {
            "type": "string",
            "description": "The name of the database on the host that the CDM client will connect to",
            "example": "COMPANY_DB"
          },
          "hostname": {
            "type": "string",
            "description": "The hostname the CDM client will use to connect to a database",
            "example": "snowflake.com"
          },
          "connectionString": {
            "type": "boolean",
            "description": "Indicates whether or not a connection string was used to connect a database and must be used to update the connection",
            "example": false
          },
          "clientId": {
            "type": "string",
            "description": "The ALTR UUID for the organization a database was created for.",
            "example": "969276ae-9118-11ed-a1eb-0242ac120002"
          },
          "snowflakeRole": {
            "type": "string",
            "description": "A field for SnowflakeDB connections that will only appear if the database type is \"snowflake_external_functions\" AND was filled when the database connection was initially connected or last updated.",
            "example": ""
          },
          "warehouseName": {
            "type": "string",
            "description": "A field for SnowflakeDB connections that will only appear if the database type is \"snowflake_external_functions\" AND was filled when the database connection was initially connected or last updated.",
            "example": ""
          },
          "SFCount": {
            "type": "integer",
            "description": "The number of columns protected in the connected database",
            "example": 2
          },
          "dataUsageHistory": {
            "type": "boolean",
            "description": "For Snowflake CI only. Whether this database has opted in or out for data usage history for analytics.",
            "example": false
          },
          "classificationStarted": {
            "type": "boolean",
            "description": "If one starts classification, this property will be returned to indicate whether the process has started or not.",
            "example": false
          },
          "CDMServiceEnabled": {
            "type": "integer",
            "example": 1
          },
          "lastConnectedTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-06-10T20:00:37.000Z",
            "description": "The timestamp that the status was last checked."
          },
          "inProgress": {
            "type": "integer",
            "description": "Whether the database status is in progress, when this value is greater than 0, it means that an update cannot be performed on this database if you are updating credentials."
          },
          "databricksServicePrincipalId": {
            "type": "string",
            "description": "A field for Databricks connections that will only appear if the database type is \"databricks\".",
            "example": "3bda4my-serv-princ-uuid-f016f8248c6a"
          },
          "databricksClusterId": {
            "type": "string",
            "description": "A field for Databricks connections that will only appear if the database type is \"databricks\".",
            "example": "23my-3dbx23-cluster3432"
          }
        }
      },
      "MaskingPolicy": {
        "type": "object",
        "description": "An individual masking policy information.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique id of this masking policy",
            "example": 10000
          },
          "name": {
            "type": "string",
            "description": "The name of this masking policy",
            "example": "Constant Mask"
          },
          "details": {
            "type": "object",
            "description": "Contains additional details about this policy.",
            "properties": {
              "tooltip": {
                "type": "string",
                "description": "A description of the masking policy that is to be used for the tooltip text on the ALTRNet (this property is optional and may not appear on the response).",
                "example": "The Constant Mask for number value columns will display a single number one in place of the columns original number value."
              },
              "example": {
                "type": "string",
                "description": "An example of how this masking policy will be applied.",
                "example": "****-**-1234"
              }
            }
          },
          "description": {
            "type": "string",
            "description": "The description of the masking policy",
            "example": "For all your constant masking needs."
          },
          "parameters": {
            "type": "object",
            "description": "A custom object that can be NULL, defines the options for custom masking policies.",
            "nullable": true
          },
          "maskType": {
            "type": "integer",
            "enum": [
              0,
              2,
              3,
              4,
              5
            ],
            "description": "The type of masking that will be performed * `0` - No Mask * `2` - Full Mask * `3` - E-mail * `4` - Show Last Four * `5` - Constant Mask\n",
            "example": 1
          },
          "isEditable": {
            "type": "boolean",
            "description": "Whether this masking policy can be edited or not, if the value is `false`, it is one of the default masking policies that are provided.",
            "example": false
          },
          "clientId": {
            "type": "string",
            "description": "The client id in which the custom masking policy belongs too. If this value is 0, it means it's available for all organizations and is not a custom masking policy.",
            "example": "0"
          }
        }
      },
      "WebAuthnCredential": {
        "type": "object",
        "description": "A registered WebAuthn (passkey) credential.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Internal numeric ID of the registered WebAuthn credential.",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Human-readable display name for the credential.",
            "example": "TouchID on MacBook Pro"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the credential was registered.",
            "example": "2024-06-01T12:00:00.000Z"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the most recent successful authentication with this credential. Null if the credential has never been used for authentication.",
            "example": "2024-06-10T08:30:00.000Z",
            "nullable": true
          }
        }
      },
      "Me": {
        "type": "object",
        "properties": {
          "$orgId": {
            "type": "object",
            "description": "The organization id as a UUID, the key name is dynamic",
            "properties": {
              "alias": {
                "type": "string",
                "description": "Not currently being used.",
                "default": "N/A"
              },
              "id": {
                "type": "string",
                "description": "The organization id as a UUID",
                "example": "969276ae-9118-11ed-a1eb-0242ac120002"
              },
              "name": {
                "type": "string",
                "description": "The name of the organization",
                "example": "Organization Name"
              },
              "role": {
                "type": "string",
                "description": "The users role for this organization",
                "example": "SUPERADMINISTRATOR"
              },
              "ssoEnabled": {
                "type": "boolean",
                "description": "Indicator for whether or not this organization has SSO enabled"
              },
              "isDefault": {
                "type": "boolean",
                "description": "Indicator for whether or not this organization is the default that should be automatically set as current when logging in"
              },
              "capabilities": {
                "type": "object",
                "description": "The capabilities that this organization has access to.",
                "properties": {
                  "chainAPI": {
                    "type": "integer"
                  },
                  "govern": {
                    "type": "integer",
                    "example": 1
                  },
                  "monitor": {
                    "type": "integer"
                  },
                  "protect": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "PreferenceUpdate": {
        "type": "object",
        "description": "The object returned after a successful update",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role that this user is"
          }
        }
      },
      "UsersMetadata": {
        "type": "object",
        "description": "The users metadata object.",
        "properties": {
          "usr_seen_perm_alert": {
            "type": "string",
            "example": "1",
            "description": "Whether the user has seen/clicked X on the permission modal error."
          }
        }
      },
      "OrganizationMetadata": {
        "type": "object",
        "description": "The organizations metadata object.",
        "properties": {
          "sys_is_spc": {
            "type": "string",
            "example": "1",
            "description": "Whether the organization is partner connect or not. This value is optional and may not be returned."
          },
          "sys_feature_preset": {
            "type": "string",
            "example": "3",
            "description": "The feature preset that the organization is in. This value will always be returned. If this property is not returned it means that the organization does not have a tier."
          },
          "sys_sso_enabled": {
            "type": "string",
            "example": "0",
            "description": "Indicates whether or not the organization has SSO enabled. This value is optional and may not be returned. If the value is 1, SSO is enabled. If the value is 0 or missing, SSO is not enabled."
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Organizations Name Here"
          },
          "twoFactor": {
            "type": "object",
            "properties": {
              "totp": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "email": {
                "type": "boolean"
              },
              "webauthn": {
                "type": "boolean"
              }
            }
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "altr.com"
            }
          },
          "s3": {
            "type": "object",
            "properties": {
              "dataToDeliver": {
                "type": "object",
                "properties": {
                  "anomalies": {
                    "type": "boolean"
                  },
                  "queryAudit": {
                    "type": "boolean"
                  },
                  "newQueryAudits": {
                    "type": "boolean"
                  },
                  "customAudits": {
                    "type": "boolean"
                  },
                  "systemAudits": {
                    "type": "boolean"
                  },
                  "vaultedTokenizationAudits": {
                    "type": "boolean"
                  },
                  "sidecarAudits": {
                    "type": "boolean"
                  }
                }
              },
              "bucketName": {
                "type": "string",
                "example": "doc-example-bucket-1"
              },
              "arn": {
                "type": "string",
                "example": "arn:aws:iam::123456789012:user/Development/product_1234/*"
              },
              "region": {
                "description": "The AWS region code in which this S3 bucket is in.",
                "type": "string",
                "example": "us-east-1"
              }
            }
          }
        }
      },
      "Features": {
        "type": "object",
        "properties": {
          "feat_dashboard": {
            "type": "boolean"
          },
          "feat_anomalies": {
            "type": "boolean"
          },
          "feat_intelligence": {
            "type": "boolean"
          },
          "feat_dataPolicy": {
            "type": "boolean"
          },
          "feat_unlimitedLockColumnRelationship": {
            "type": "boolean"
          },
          "feat_lockColumnLimit": {
            "type": "integer",
            "example": 10
          },
          "feat_systemConfiguration": {
            "type": "boolean"
          },
          "feat_databaseDrivers": {
            "type": "boolean",
            "example": false
          },
          "feat_tokenization": {
            "type": "boolean"
          },
          "feat_tokenizationAPI": {
            "type": "boolean"
          },
          "feat_managementAPI": {
            "type": "boolean"
          },
          "feat_s3Integration": {
            "type": "boolean"
          },
          "feat_auditLogs": {
            "type": "boolean"
          },
          "feat_settings": {
            "type": "boolean"
          },
          "feat_tags": {
            "type": "boolean"
          },
          "feat_rowaccess": {
            "type": "boolean"
          },
          "feat_databaseLimit": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "RowPolicy": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "database_id": {
            "type": "integer",
            "example": 123
          },
          "friendly_name": {
            "type": "string"
          },
          "impacted_user_groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "policy_applied": {
            "type": "object",
            "properties": {
              "impacted_user_groups": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "reference_columns": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "text": {
                "type": "string"
              }
            }
          },
          "policy": {
            "type": "string"
          },
          "reference_columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "table_name": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "policy_failed": {
            "type": "object",
            "properties": {
              "reference_columns": {
                "type": "array"
              },
              "impacted_user_groups": {
                "type": "array"
              },
              "error": {
                "type": "object",
                "properties": {
                  "error": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "SystemAudit": {
        "type": "object",
        "description": "System Audits object that contains a few properties.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "timeRead": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Null or a timestamp of when the system audit was read. Null meaning that it has NOT been read yet."
          },
          "payload": {
            "type": "string",
            "description": "Stringify json that contains the message data about the system audit.",
            "example": "{'actor': {id: 2}}"
          },
          "notificationType": {
            "type": "string",
            "description": "What type of notification this is and what entity it belongs too.",
            "example": "User Update"
          }
        }
      },
      "ResultSet": {
        "description": "Results are ready and are included in the response body.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "moreData": {
                      "type": "boolean",
                      "description": "If this is `true`, you are likely to receive more results by issuing the same request again, but with incremented pagination parameters."
                    },
                    "token": {
                      "type": "string",
                      "description": "A token used to retrieve results for this query. This may be a long string consisting of several thousand characters.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Array of audits",
                        "properties": {
                          "event": {
                            "type": "string",
                            "description": "A human-readable description of the event."
                          },
                          "timestamp": {
                            "type": "integer",
                            "description": "Number of ellapsed milliseconds since Epoch when the event occurred."
                          },
                          "userId": {
                            "type": "integer",
                            "description": "The ID of the ALTRnet user who caused this event to occur."
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "If the ALTR API was used, this API key was used to perform the action which caused this event,"
                          },
                          "detail": {
                            "type": "object",
                            "description": "Audit data formatted specific to the audit category."
                          }
                        }
                      }
                    }
                  }
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether the request succeeded"
                }
              }
            }
          }
        }
      },
      "Pending": {
        "description": "Results pending. Try again later with the same token to retrieve the results.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "A token used to retrieve results for this query. This may be a long string consisting of several thousand characters.",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                    }
                  }
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether the request succeeded"
                }
              }
            }
          }
        }
      },
      "Tags": {
        "type": "object",
        "description": "Tags object",
        "properties": {
          "tagId": {
            "type": "string",
            "example": "TAG-ID"
          },
          "tagValue": {
            "type": "string",
            "example": "DATE",
            "description": "The value of the tag."
          },
          "tagName": {
            "type": "string",
            "example": "PRIVACY_CATEGORY",
            "description": "The name of the tag."
          }
        }
      },
      "ColumnsInTag": {
        "type": "object",
        "description": "Tags object",
        "properties": {
          "tagId": {
            "type": "string",
            "example": "TAG-ID"
          },
          "databaseType": {
            "type": "integer",
            "description": "The type of data.",
            "example": 9
          },
          "database": {
            "type": "string",
            "description": "The database name"
          },
          "schema": {
            "type": "string",
            "format": "date",
            "description": "The schema name"
          },
          "table": {
            "type": "string",
            "format": "date",
            "description": "The table name."
          },
          "column": {
            "type": "string",
            "format": "date",
            "description": "The column name."
          }
        }
      },
      "SimpleThreshold": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the threshold",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Name of the threshold",
            "example": "George Washington's Threshold"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Whether or not the threshold is in effect"
          },
          "limit": {
            "type": "integer",
            "description": "Number of records per unit (below) that may be accessed before action is taken",
            "example": 100
          },
          "unit": {
            "type": "string",
            "enum": [
              "minute",
              "hour",
              "day",
              "week",
              "month"
            ],
            "description": "The time frame inside which the above limit is tracked",
            "example": "minute"
          },
          "action": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "The action that will be taken when the ruleset for this threshold is violated. 0 = Anomaly, 1 = quicksand, 2 = block",
            "example": 0
          },
          "userCount": {
            "type": "integer",
            "description": "The number of users affected by this threshold",
            "example": 1
          },
          "groupCount": {
            "type": "integer",
            "description": "The number of groups affected by this threshold",
            "example": 1
          },
          "serverCount": {
            "type": "integer",
            "description": "The number of applications affected by this threshold",
            "example": 2
          },
          "lockCount": {
            "type": "integer",
            "description": "The number of locks affected by this threshold",
            "example": 1
          },
          "ipAddresses": {
            "type": "integer",
            "description": "The number of IP addresses affected by this threshold",
            "example": 1
          },
          "timeWindow": {
            "type": "integer",
            "description": "The number of rules (days per week) this threshold is in effect",
            "example": 3
          }
        }
      },
      "FullThreshold": {
        "type": "object",
        "properties": {
          "details": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 1,
                "description": "The id of the threshold that is returned"
              },
              "name": {
                "type": "string",
                "example": "My Threshold",
                "description": "The name of the threshold that is returned"
              },
              "isEnabled": {
                "type": "boolean",
                "example": true,
                "description": "Whether or not this threshold is currently being applied"
              },
              "action": {
                "type": "integer",
                "example": "What action this threshold will take when ruleset is violated"
              }
            }
          },
          "hasActiveAnomalies": {
            "description": "A boolean to indicate whether or not this threshold can be modified",
            "type": "boolean",
            "example": false
          },
          "groups": {
            "type": "array",
            "description": "An array of objects describing threshold-to-group relationships.",
            "items": {
              "type": "object",
              "description": "Each object has the following properties\n\n**relationshipId** - The unique id of the group relationship to this threshold\n\n**userGroupId** - The unique id of the group itself\n\n**userGroupName** - The display name of the related group\n",
              "properties": {
                "relationshipId": {
                  "type": "integer",
                  "example": 8
                },
                "userGroupId": {
                  "type": "integer",
                  "example": 1
                },
                "userGroupName": {
                  "type": "string",
                  "example": "User Group Name"
                }
              }
            }
          },
          "locks": {
            "type": "array",
            "description": "An array of objects describing threshold-to-lock relationships.",
            "items": {
              "type": "object",
              "description": "Each object has the following properties\n\n**relationshipId** - The unique id of the lock relationship to this threshold\n\n**lockId** - The unique id of the lock itself\n\n**lockName** - The display name of the related lock\n",
              "properties": {
                "relationshipId": {
                  "type": "integer",
                  "example": 7
                },
                "lockId": {
                  "type": "integer",
                  "example": 1
                },
                "lockName": {
                  "type": "string",
                  "example": 1
                }
              }
            }
          },
          "applications": {
            "type": "array",
            "description": "An array of objects describing threshold-to-application relationships.",
            "items": {
              "type": "object",
              "description": "Each object has the following properties\n\n**relationshipId** - The unique id of the application relationship to this threshold\n\n**serverId** - The unique id of the application itself\n\n**serverFriendlyName** - The display name of the related application\n",
              "properties": {
                "relationshipId": {
                  "type": "integer",
                  "example": 7
                },
                "serverId": {
                  "type": "integer",
                  "example": 1
                },
                "serverFriendlyName": {
                  "type": "string",
                  "example": "Applications Name"
                }
              }
            }
          },
          "users": {
            "type": "integer",
            "description": "The number of users this threshold is applied to (as a result of group membership)",
            "example": 2
          },
          "accessRate": {
            "description": "Details on the access rate for this threshold\n\n**limit** - Number of records per unit (below) that may be accessed before action is taken\n\n**unit** - The time frame inside which the above limit is tracked\n",
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "example": 1
              },
              "unit": {
                "type": "string",
                "example": "minute"
              }
            }
          },
          "ips": {
            "description": "An array of IP address that are whitelisted for this threshold. No IPs here means ALL IPs are whitelisted. Non-whitelisted IPs cannot access data.",
            "type": "array",
            "items": {
              "type": "object",
              "description": "Each IP object has these properties\n\n**id** - The ID of the threshold-to-ip relationship\n\n**ipAddress** - The string value of the IP address/range\n",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 7
                },
                "ipAddress": {
                  "type": "string",
                  "example": "192.0.0.1",
                  "description": "Can be ipv4 or ipv6"
                }
              }
            }
          },
          "timeWindow": {
            "description": "An array of objects that describe the time window rules (if any).",
            "type": "array",
            "items": {
              "type": "object",
              "description": "Each object has these properties\n\n**days** - Which days per week should this threshold be in effect\n\n**startTime** - Which time on each active day should the threshold start being in effect\n\n**endTime** - Which time on each active day should the threshold stop being in effect\n\n**timezone** - A zoneinfo/tz-database string for what timezone the threshold times should be applied in\n",
              "properties": {
                "day": {
                  "type": "string",
                  "enum": [
                    "sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday"
                  ]
                },
                "startTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "endTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "timezone": {
                  "type": "string",
                  "example": "UTC"
                }
              }
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "UserGroup": {
        "type": "object",
        "properties": {
          "userGroupId": {
            "type": "integer",
            "description": "The unique identifier for this user group",
            "example": 1
          },
          "userGroupName": {
            "type": "string",
            "description": "The name for this user group",
            "example": "ALTR_USER"
          },
          "userGroupType": {
            "type": "string",
            "default": "User Group",
            "description": "The user group type shall always have this default value."
          },
          "description": {
            "type": "string",
            "description": "The description for this user group",
            "example": "This is a description for ALTR_USER"
          },
          "groupTag": {
            "type": "string",
            "description": "The group tag for this user group",
            "example": "ALTR_USER"
          },
          "usersInGroup": {
            "type": "integer",
            "description": "The number of users that belong to this group.",
            "example": 0
          }
        }
      }
    },
    "requestBodies": {
      "CreateDatabaseBody": {
        "description": "The JSON object containing database information.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "friendlyDatabaseName": {
                  "type": "string",
                  "description": "The display name in the frontend for this database"
                },
                "databasePort": {
                  "type": "number"
                },
                "maxNumberOfConnections": {
                  "type": "string"
                },
                "maxNumberOfBatches": {
                  "type": "string"
                },
                "databaseName": {
                  "type": "string",
                  "description": "The name of the database on the host you are trying to connect"
                },
                "databasePassword": {
                  "type": "string",
                  "description": "The password of the database on the host you're trying to connect"
                },
                "databaseType": {
                  "type": "string",
                  "enum": [
                    "sqlserver",
                    "mysql",
                    "redshift",
                    "snowflake_external_functions",
                    "databricks"
                  ],
                  "description": "The type of database you're trying to connect"
                },
                "hostname": {
                  "type": "string",
                  "description": "The host where the database you're trying to connect is located"
                },
                "serviceUserID": {
                  "type": "string",
                  "description": "The identifier of the service user responsible for managing this database."
                },
                "databaseUsername": {
                  "type": "string",
                  "description": "The username of the user on the database you're trying to connect as"
                },
                "connectionString": {
                  "type": "string",
                  "description": "A connection string that contains all the required information for the database you're trying to connect. This is not available for snowflake_external_functions."
                },
                "snowflakeRole": {
                  "type": "string",
                  "description": "An optional field for SnowflakeDB connections that is ONLY ALLOWED when the database type is \"snowflake_external_functions\"",
                  "nullable": true
                },
                "warehouseName": {
                  "type": "string",
                  "description": "An optional field for SnowflakeDB connections that is ONLY ALLOWED when the database type is \"snowflake_external_functions\"",
                  "nullable": true
                },
                "shouldClassify": {
                  "type": "boolean",
                  "description": "Optional field only valid for Snowflake CI connections that requests a data classification job to be started automatically after the database is connected."
                },
                "dataUsageHistory": {
                  "type": "boolean",
                  "description": "For Snowflake CI only. Whether this database has opted in or out for data usage history for analytics."
                },
                "classificationType": {
                  "type": "string",
                  "description": "Optional value, the classification type and/or import type that you wish to run. If this property is not passed, it will default to `1`.\n* `1` - Google DLP\n* `3` - Snowflake Tag Import\n* `4` - Snowflake Classify and Tag Import\n",
                  "default": "1",
                  "enum": [
                    "1",
                    "3",
                    "4"
                  ]
                }
              }
            },
            "examples": {
              "sfdb": {
                "$ref": "#/components/examples/sfdb"
              },
              "sfdbt": {
                "$ref": "#/components/examples/sfdbt"
              },
              "sfdbdetailed": {
                "$ref": "#/components/examples/sfdbdetailed"
              },
              "databricks": {
                "$ref": "#/components/examples/databricks"
              },
              "sfdbc": {
                "$ref": "#/components/examples/sfdbc"
              },
              "sfdballproperties": {
                "$ref": "#/components/examples/sfdballproperties"
              },
              "driverdb": {
                "$ref": "#/components/examples/driverdb"
              },
              "driverdbconnectionstring": {
                "$ref": "#/components/examples/driverdbconnectionstring"
              }
            }
          }
        }
      }
    },
    "examples": {
      "sfdb": {
        "summary": "Snowflake Database Connection Example",
        "description": "The bare minimum that is needed to connect a Snowflake database",
        "value": {
          "friendlyDatabaseName": "My Snowflake Database",
          "databaseType": "snowflake_external_functions",
          "databaseUsername": "mysnowflakeusername",
          "databasePassword": "mysnowflakepassword",
          "databaseName": "MY_DATABASE_NAME",
          "hostname": "dfr432245.us-west.snowflakecomputing.com",
          "databasePort": 3305
        }
      },
      "sfserviceuser": {
        "summary": "Service User Managed Snowflake Database Connection Example",
        "description": "This selection provides a configuration example for connecting to a Snowflake database using a service user.",
        "value": {
          "friendlyDatabaseName": "My Snowflake Database",
          "serviceUserID": "0ujtsYcgvSTl8PAuAdqWYSMnLOv",
          "databaseType": "snowflake_external_functions",
          "databaseName": "MY_DATABASE_NAME"
        }
      },
      "sfdbdetailed": {
        "summary": "Snowflake Database Connection Advanced Example",
        "description": "Snowflake Database Connection for more advanced settings. With this, you can set both the warehouse name and the snowflake role.\nIn addition, this will set the max number of connections to 5, and max number of batches to 15.",
        "value": {
          "friendlyDatabaseName": "My Snowflake Database",
          "databaseType": "snowflake_external_functions",
          "databaseUsername": "mysnowflakeusername",
          "databasePassword": "mysnowflakepassword",
          "databaseName": "MY_DATABASE_NAME",
          "hostname": "dfr432245.us-west.snowflakecomputing.com",
          "databasePort": 3305,
          "snowflakeRole": "MY_ROLE",
          "warehouseName": "MY_WAREHOUSE",
          "maxNumberOfConnections": 5,
          "maxNumberOfBatches": 15
        }
      },
      "databricks": {
        "summary": "Databricks Connection Example",
        "description": "The bare minimum that is needed to connect to Databricks",
        "value": {
          "friendlyDatabaseName": "My Databricks Connection",
          "databaseType": "databricks",
          "databasePassword": "jose17mysvcprincipaloauthsecret10690",
          "hostname": "https://6my-45wrkbook34-host32.cloud.databricks.com/",
          "databricksServicePrincipalId": "3bda4my-serv-princ-uuid-f016f8248c6a",
          "databricksClusterId": "23my-3dbx23-cluster3432"
        }
      },
      "sfdbt": {
        "summary": "Snowflake Database Connection & Tag Data by Classification Example",
        "description": "Connect a Snowflake database that will scan and tag columns in your database based on classification.\nAn email will be sent when done.\nBy default, Google DLP is applied, this can be changed by adding a `classificationType` property and setting it to 2 or 4. Read more by expanding the schema to see all options.\n",
        "value": {
          "friendlyDatabaseName": "My Snowflake Database",
          "databaseType": "snowflake_external_functions",
          "databaseUsername": "mysnowflakeusername",
          "databasePassword": "mysnowflakepassword",
          "databaseName": "MY_DATABASE_NAME",
          "hostname": "dfr432245.us-west.snowflakecomputing.com",
          "databasePort": 3305,
          "shouldClassify": true
        }
      },
      "sfdbc": {
        "summary": "Snowflake Database Connection & Import Data Usage History Example",
        "description": "Connect a Snowflake database that will scan and analyze the last 30 days of data access in this database so you can understand how data is used.\n\nSetting the property value of `dataUsageHistory` to true, will populate the Analytics page in the ALTRNet.\n",
        "value": {
          "friendlyDatabaseName": "My Snowflake Database",
          "databaseType": "snowflake_external_functions",
          "databaseUsername": "mysnowflakeusername",
          "databasePassword": "mysnowflakepassword",
          "databaseName": "MY_DATABASE_NAME",
          "hostname": "dfr432245.us-west.snowflakecomputing.com",
          "databasePort": 3305,
          "dataUsageHistory": true
        }
      },
      "sfdballproperties": {
        "summary": "Snowflake Database Connection; All Properties set.",
        "description": "Connect a Snowflake database, this property assigns every possible property for a snowflake database connection.\n\nThis database connection will connect a snowflake database with an assigned snowflake role, warehouse, 30 day usage history, and classification type `4` which will run Snowflake Classify and Tag Imports.\n",
        "value": {
          "friendlyDatabaseName": "My Snowflake Database",
          "databaseType": "snowflake_external_functions",
          "databaseUsername": "mysnowflakeusername",
          "databasePassword": "mysnowflakepassword",
          "databaseName": "MY_DATABASE_NAME",
          "hostname": "dfr432245.us-west.snowflakecomputing.com",
          "snowflakeRole": "MY_ROLE",
          "warehouseName": "MY_WAREHOUSE",
          "maxNumberOfConnections": 5,
          "maxNumberOfBatches": 15,
          "databasePort": 3305,
          "dataUsageHistory": true,
          "shouldClassify": true,
          "classificationType": 3
        }
      },
      "driverdb": {
        "summary": "Driver Database Connection Example",
        "description": "This connects a driver database with the bare minimum settings.\nIn this example, it connects a MySQL database. See the documentation for all database types that we support (or expand the schema section in the swagger docs)\n",
        "value": {
          "friendlyDatabaseName": "My MySQL Database",
          "databaseType": "mysql",
          "databaseUsername": "mysqlusername",
          "databasePassword": "mysqlpassword",
          "databaseName": "MY_DATABASE_NAME",
          "hostname": "dfr432245.us-west.mysql.com",
          "databasePort": 3306
        }
      },
      "driverdbconnectionstring": {
        "summary": "Driver Database Connection String Example",
        "description": "Instead of passing each property individually, you can pass an entire connection string instead.\n\nPlease keep in mind that this is only for Driver databases, connection strings are not available for Snowflake Databases.\n",
        "value": {
          "friendlyDatabaseName": "My MySQL Database",
          "databaseType": "mysql",
          "connectionString": "jdbc:altr:mysql://someURl.amazonaws.com:3306/myschema?user=mysqlusername&password=mysqlpassword"
        }
      }
    }
  },
  "paths": {
    "/administrators": {
      "get": {
        "tags": [
          "administrators"
        ],
        "summary": "List administrators in organization.",
        "description": "Lists all the administrators in the organization, in the order of their last name (by default, can be changed with filters).",
        "operationId": "administrators|get-all-administrators",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "lastName",
                "email",
                "activityTimestamp",
                "username"
              ]
            },
            "description": "The value you want to sort by."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "active",
                "disabled"
              ]
            },
            "description": "Retrieve administrators by their status."
          },
          {
            "name": "username",
            "in": "query",
            "description": "Filter administrators by their username",
            "schema": {
              "type": "string",
              "maxLength": 450
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Administrators"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "administrators"
        ],
        "summary": "Creates a new administrators and invites them to the organization.",
        "description": "Creates a new administrators that will be added to the organization. This will send them an e-mail invite and the new administrator will be in the 'pending' status until they set their password.",
        "operationId": "administrators|create-administrator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "role",
                  "phone",
                  "email",
                  "countryCode",
                  "username"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "George@altr.com"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "George"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Washington"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMINISTRATOR",
                      "SUPERADMINISTRATOR"
                    ],
                    "example": "SUPERADMINISTRATOR"
                  },
                  "phone": {
                    "type": "integer",
                    "example": 1115555555
                  },
                  "countryCode": {
                    "type": "integer",
                    "example": 1
                  },
                  "username": {
                    "type": "string",
                    "example": "George3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Administrator"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/administrators/{id}": {
      "get": {
        "tags": [
          "administrators"
        ],
        "summary": "Returns a single administrators by the id given.",
        "operationId": "administrators|get-administrator",
        "parameters": [
          {
            "$ref": "#/components/parameters/idPath"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Administrator"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "tags": [
          "administrators"
        ],
        "summary": "Updates an administrator.",
        "description": "Updates an administrator. Can be used to update oneself or other administrators. Can also be used to unlock an administrator who's account is locked out and update roles. Roles permissions are take into account when updating administrators.",
        "operationId": "administrators|update-administrator",
        "parameters": [
          {
            "$ref": "#/components/parameters/idPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "example": "George"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Washington"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMINISTRATOR",
                      "SUPERADMINISTRATOR"
                    ],
                    "description": "Updating this value will change the privileges of the administrator. You cannot change roles of other administrators that have the same role as you.",
                    "example": "SUPERADMINISTRATOR"
                  },
                  "phone": {
                    "type": "integer",
                    "example": 1115555555
                  },
                  "countryCode": {
                    "type": "integer",
                    "example": 1
                  },
                  "userStatus": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "active",
                      "disabled"
                    ],
                    "example": "active"
                  },
                  "unlock": {
                    "type": "boolean",
                    "description": "Optional value, pass true for this property value to unlock an administrator if they're locked. This property will be ignored if they are not locked.",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdatedAdministrator"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/administrators/resend-token": {
      "post": {
        "tags": [
          "administrators"
        ],
        "summary": "For a pending user, resend's them an e-mail with a newly generated token.",
        "description": "Resend's and generates a new user e-mail to the pending user.",
        "operationId": "administrators|resend-token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/anomalies": {
      "get": {
        "tags": [
          "anomalies"
        ],
        "summary": "Returns an array of anomalies without full data",
        "operationId": "getAnomalies",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "dt",
              "enum": [
                "dt"
              ]
            },
            "description": "The property on which to sort anomalies"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            },
            "description": "Whether to return only open anomalies or only archived (0 - only open anomalies, 1 - only archived anomalies)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Anomalies"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/anomalies/{id}": {
      "get": {
        "tags": [
          "anomalies"
        ],
        "summary": "Returns an anomaly with all of its details",
        "operationId": "getAnomalyDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/idPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Anomaly"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/anomalies/{id}/archive": {
      "patch": {
        "tags": [
          "anomalies"
        ],
        "summary": "Archives an anomaly and applies an AccessStatus to the actor",
        "operationId": "archiveAnomaly",
        "parameters": [
          {
            "$ref": "#/components/parameters/idPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BaseAnomaly"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/anomalies/{id}/note": {
      "post": {
        "tags": [
          "anomalies"
        ],
        "summary": "Adds a note to an anomaly",
        "operationId": "addAnomalyNote",
        "parameters": [
          {
            "$ref": "#/components/parameters/idPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
